#header {
  width: 50%;
  height: 50px;
  margin: 0 auto;
  position: relative;
  border: 1px solid black;
}

  #counter, #clock {
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    color: red;
    top: 3px;
    position: absolute;
  }

    #clock {
      left: 0px;
    }

    #counter {
      right: 0px;
    }

  #smiley {
    display: block;
    width: 50px;
    margin: 0 auto;
  }

#gameboard {
  display: block;
  margin: 0 auto;
}
  
  .space {
    position: relative;
    top: -4px;
    height: 19px;
    width: 19px;
  }

    .space:hover {
      cursor: pointer;
    }

  .space img {
    position: relative;
    top: 4px;
  }

  .row {
    position: relative;
    height: 19px;
  }

  form {
    width: 250px;
    margin: 50px auto 25px auto;
  }

  button {
    display: block;
    width: 250px;
    margin: 0 auto 25px auto;
  }